body {
    font-family: "Roboto Condesed", sans-serif;
    text-align: left;
    font-size: 18px;
    color: black;
}

#myCanvas {

    background-color: gray;
    border: 1px solid #cbcbcb;

}

#btn {
    width: 162px;
    height: 41px;
    position: absolute;
    transform: translate(-380px, 250px);
}

.scoreBox {
    margin-top: 0.5em;
    width: 5em;
}

#buttons,
#btn,
.scoreBox {
    font-size: 18px;
    background-color: rgba(211, 211, 211, 0.75);
    color: darkslategrey;
    border: 1px solid grey;
    transition-duration: 0.6s;
    box-shadow: -1px 2px rgba(192, 192, 192, 0.8);

}

#buttons:hover,
#btn:hover {
    background-color: rgb(105, 105, 105);
    color: white;
}

.colorChg {
    margin-left: 0.2em;
}

.container {
    margin-top: 2.5%;
    display: flex;
}


.hide {
    display: none;
}

@media only screen and (max-width: 400px) {
    #myCanvas {
        width: 250px;
        height: 250px;
    }

    #btn {
        transform: translate(-200px, 100px);
    }

    .changeBtn {
        transform: translate(-250px, 65px);
    }
}
