body {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: "Times New Roman", san-serif;
  background-color: #6b8e23;
  color: black;
}

/* drawing canvas */

#myCanvas {
  transform: translate(25%, 5%);
  background-color: rgb(107, 142, 35);
}

button {
  font-size: 18px;
  background-color: rgba(211, 211, 211, 0.75);
  color: darkslategrey;
  border: 1px solid grey;
  transition-duration: 0.6s;
  box-shadow: -1px 2px rgba(192, 192, 192, 0.8);
}

button:hover {
  background-color: rgb(105, 105, 105);
  color: white;
}

/* controls */

#btn {
  float: right;
  transform: translate(-20px, 25px);
}

/* display the guessing word inside a canvas */

#text {
  background-color: rgb(107, 142, 35);
  clear: both;
  overflow: scroll;
}

/* letter buttons */

.buttons {
  width: 50px;
  height: 50px;
  color: black;
  display: inline-block;
  padding-left: 2%;
}

/* box for hint */

#hint,
#hitted {
  transition-duration: 0.8s;
  background-color: rgba(136, 136, 136, 0.8);
  box-shadow: 2px 2px rgba(160, 160, 160, 0.8);
  transform: translate(50%, -150px);
}

#hint {
  transform: translate(50%, -150px);
}

#hitted {
  transform: translate(100px, -150px)
}

#hint,
#myCanvas,
#hitted {
  display: inline-block;
}

.pressed {
  background-color: rgba(246, 106, 60, 1.0);
}

@media only screen and (min-width: 710px) {
  .buttons {
    transform: translate(100px, 200px);
  }
  #text {
    transform: translate(50px, 125px);
  }
  #hint {
    transform: translate(0, -150px);
  }
}