<!DOCTYPE html>
<html>

<head>
  <!-- hangman game -->
  <title>Hangam</title>

  <!-- encoding -->
  <meta charset="utf-8" />

  <!-- responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="hangmanStyle.css">

  <!-- angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript" src="hangmanJS.js"></script>

</head>

<body ng-app="myApp" ng-init="keys=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']">

  <!-- canvas to draw the hangman -->
  <canvas id="myCanvas" width="200" height="300"></canvas>

  <!-- display the hint -->
  <div id="hint"></div>
  <div id="hitted"></div>

  <!-- controls buttons -->
  <div id="btn">
    <button type="buttton" onclick="newGame()">New Game</button>
    <button type="button" onclick="getHint()">Hint</button>
  </div>

  <!-- words to guess here-->
  <!-- using canvas to draw the underlines for letters-->
  <canvas id="text" width="1000" height="100"></canvas>
  <br/>

  <!-- buttons for letters a to z -->
  <div class="buttons" ng-repeat="key in keys">
    <app-directive info="key"></app-directive>
  </div>

  <!-- angular -->
  <script>
    //app definition
    var app = angular.module("myApp", []);

    // directive
    app.directive('appDirective', function() {
      return {
        restrict: 'E',
        scope: {
          info: '='
        },
        // for letter buttons
        template: "<button class='btn' id='pressBtn' ng-click='clickKey(info)'>{{ info }}</button>",
        link: function(scope, element, attrs) {
          scope.clickKey = function(info) {
            var myCanvas = document.getElementById("myCanvas");
            var ctx = myCanvas.getContext("2d");

            if (play === true) {
              // if new game then play this and game has not ended
              // check if the letter was pressed before
              if (verify[info.charCodeAt(0) - 97] == 0) {
                var myTry = check(info); // check the input
                if (myTry === 0 && count < 6) mistake(ctx); // validate the mistake
                else if (win === size) {
                  // winning case
                  alert("You Win!");
                  play = false; // disabled the letter buttons
                  document.getElementsByTagName("body")[0].removeEventListener("keypress", keyPressed);
                  // disabled the keypress event
                }
                verify[info.charCodeAt(0) - 97] = 1;
                document.getElementById("hitted").innerHTML = document.getElementById("hitted").innerHTML + "&nbsp;" + info;
              }
            }
          };
        }
      };
    });
  </script>

</body>

</html>